
/*******************
    Nav Burger
 *******************/
#nav-burger-image {
  width: 3em;
  height: 3em;
}

#nav-burger-ul li {
  padding-left: 2.2em;
}


/******************
    Home Page
 ******************/
.home-container {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0.6em #b9f2ff;
  min-width: 14em;
}

.home-banner {
  font-family: 'BenchNine', sans-serif;
  font-size: 34pt;
  font-weight: normal;
  color: orangered;
}

.home-nav-ul li {
  background: hsla(186, 86%, 50%, 1);
  border-radius: 0.4em;
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 13pt;
}  


/*********************
    Projects
 *********************/

div#project-container-centerer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main#project-container {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0.6em #b9f2ff;
  width: 100%;
  min-width: 14em;
}


@media only screen and (min-width: 550px) {

  .home-nav-ul li {
    background: white;
    color: hsla(186, 100%, 40%, 1);
  }
}